  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #000000;
    color: white;
  }

  .nav {
    height: 56px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  .nav i {
    font-size: 20px;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .logo img {
    height: 85px;
  }

  .middle {
    display: flex;
    align-items: center;
  }

  .middle input {
    width: 400px;
    height: 30px;
    background-color: #121212;
    border: 1px solid #303030;
    color: white;
    padding: 0 12px;
    border-radius: 20px 0 0 20px;
  }

  .search {
    height: 30px;
    width: 60px;
    background-color: #222;
    border: 1px solid #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }

  .mic {
    margin-left: 10px;
    height: 36px;
    width: 36px;
    background-color: #181818;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .right i {
    font-size: 18px;
    cursor: pointer;
  }

  .avatar {
    width: 32px;
    height: 32px;
    background-color: #1e88e5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .videos {
    display: flex;
    padding: 20px;
  }

  .videos .left {
    width: 10%;
    background-color: #000000;
    border-right: 1px solid #fff;
    color: #fff;
    padding: 10px;
  }

  .videos .right {
    width: 90%;
    color: #fff;
    padding: 10px;
  }