 @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
 }

 body {
   background-color: #0F0F0F;
   color: white;
 }

 .nav {
   height: 56px;
   background-color: #0F0F0F;
   display: flex;
   justify-content: space-between;
   width: 100%;
 }

 .nav i {
   font-size: 15px;
   color: #fff;
   background-color: #0F0F0F;
   cursor: pointer;
 }

 .menu i {
   background-color: #0F0F0F;
   color: #fff;
   font-size: 20px;
   padding-left: 45px;
   padding-top: 5px;
   height: 26px;
   width: 40px;
   border-radius: 50%;
 }

 .menu i:hover {
   background-color: #303030;
   color: #fff;
 }

 .left {
   display: flex;
   align-items: center;
   gap: 15px;
 }

 .logo img {
   padding-left: 25px;
   padding-top: 2px;
   height: 40px;
   background-image: none;
   background-color: #0F0F0F;
 }

 .middle {
   display: flex;
   align-items: center;
 }

 .middle input {
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   width: 400px;
   height: 30px;
   background-color: #121212;
   border: 1px solid #303030;
   color: white;
   padding: 0 12px;
   border-radius: 20px 0 0 20px;
 }

 .middle i {
   background-color: #222222;
 }

 .search {
   height: 30px;
   width: 60px;
   background-color: #222;
   border: 1px solid #303030;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0 20px 20px 0;
   cursor: pointer;
 }

 .mic {
   margin-left: 10px;
   height: 36px;
   width: 36px;
   background-color: #181818;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
 }

 .mic i {
   background-color: #181818;
 }

 .mic i:hover {
   height: 36px;
   width: 36px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #303030;
 }

 .right {
   display: flex;
   align-items: center;
   gap: 18px;
 }

 .right i {
   font-size: 18px;
   cursor: pointer;
 }

 .account i {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font-size: 18px;
   height: 38px;
   width: 110px;
   background-color: #272727;
   border: none;
   border-radius: 20px;
   padding-top: 4px;
   padding-left: 5px;
 }

 .account span {
   font-size: 15px;
   font-weight: 400;
 }

 .bell i {
   cursor: pointer;
 }

 .bell i:hover {
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: #565656;
   color: #ffffff;
 }

 .avatar {
   width: 32px;
   height: 32px;
   background-color: #1e88e5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .container {
   height: 100vh;
   width: 100%;
   overflow: hidden;
   position: fixed;
   left: 0;
 }

 .sidebar {
   width: 17%;
   height: 100vh;
   background: #0f0f0f;
   padding: 12px;
   overflow: auto;
   padding-bottom: 1rem;
 }

 .sidebar span {
   color: #fff;
   padding-left: 10px;
 }

 .home {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
   background-color: transparent;
 }

 .home i {
   font-size: 18px;
   width: 22px;
 }

 .home:hover {
   background-color: #272727;
 }

 .short {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .short i {
   font-size: 18px;
   width: 22px;
 }

 .short:hover {
   background: #272727;
   border-radius: 12px;
 }

 .subscribe {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .subscribe img {
   height: 22px;
   width: 28px;
   background-image: none;
   background-color: #0F0F0F;
 }

 .subscribe:hover {
   background: #272727;
 }

 .you {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .you i {
   font-size: 18px;
   width: 22px;
 }

 .you:hover {
   background: #272727;
 }

 .history {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .history i {
   font-size: 18px;
   width: 22px;
 }

 .history:hover {
   background: #272727;
 }

 .list {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .list i {
   font-size: 18px;
   width: 22px;
 }

 .list:hover {
   background: #272727;
 }

 .watch-later {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .watch-later i {
   font-size: 18px;
   width: 22px;
 }

 .watch-later:hover {
   background: #272727;
 }

 .liked {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .liked i {
   font-size: 18px;
   width: 22px;
 }

 .liked:hover {
   background: #272727;
 }

 .explore {
   padding-left: 15px;
 }

 .music {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .music img {
   height: 25px;
 }

 .music span {
   display: flex;
 }

 .music i {
   font-size: 18px;
   width: 22px;
 }

 .music:hover {
   background: #272727;
 }

 .gaming {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .gaming img {
   height: 25px;
 }

 .gaming i {
   font-size: 18px;
   width: 22px;
 }

 .gaming:hover {
   background: #272727;
 }

 .news {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .news img {
   height: 20px;
 }

 .news i {
   font-size: 18px;
   width: 22px;
 }

 .news:hover {
   background: #272727;
 }

 .more {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .more i {
   font-size: 18px;
   width: 22px;
 }

 .more:hover {
   background: #272727;
 }

 .ico {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .ico i {
   font-size: 18px;
   width: 22px;
 }

 .ico:hover {
   background: #272727;
 }

 hr {
   border: none;
   border-top: 1px solid #2a2a2a;
   margin: 12px 0;
 }

 .system {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .system i {
   font-size: 18px;
   width: 22px;
 }

 .system:hover {
   background: #272727;
 }

 .report {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .report i {
   font-size: 18px;
   width: 22px;
 }

 .report:hover {
   background: #272727;
 }

 .help {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .help i {
   font-size: 18px;
   width: 22px;
 }

 .help:hover {
   background: #272727;
 }

 .feedback {
   display: flex;
   align-items: center;
   gap: 18px;
   padding: 12px 14px;
   border-radius: 12px;
   cursor: pointer;
   font-size: 15px;
 }

 .feedback i {
   font-size: 18px;
   width: 22px;
 }

 .feedback:hover {
   background: #272727;
 }

 .more-youtube {
   margin: 14px 12px 8px;
   font-size: 14px;
   font-weight: 600;
   color: #aaa;
   display: flex;
   align-items: center;
   gap: 6px;
 }

 hr {
   border: none;
   border-top: 1px solid #2a2a2a;
   margin: 12px 0;
 }

 .ico i {
   color: #ff0000;
 }

 /* width */
 ::-webkit-scrollbar {
   width: 5px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   background: #0F0F0F;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }