  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #000000;
    color: white;
  }

  .nav {
    height: 56px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    width: 100%;
  }

  .nav i {
    font-size: 15px;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
  }

  .menu i {
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    padding: 4px 0 5px 0;
    height: 26px;
    width: 26px;
  }

  .menu i:hover {
    background-color: #303030;
    color: #fff;
    border-radius: 50%;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .logo img {
    height: 85px;
  }

  .middle {
    display: flex;
    align-items: center;
  }

  .middle input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 400px;
    height: 30px;
    background-color: #121212;
    border: 1px solid #303030;
    color: white;
    padding: 0 12px;
    border-radius: 20px 0 0 20px;
  }

  .middle i {
    background-color: #222222;
  }

  .search {
    height: 30px;
    width: 60px;
    background-color: #222;
    border: 1px solid #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }

  .mic {
    margin-left: 10px;
    height: 36px;
    width: 36px;
    background-color: #181818;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .mic i {
    background-color: #181818;
  }

  .mic i:hover {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .right i {
    font-size: 18px;
    cursor: pointer;
  }

  .avatar {
    width: 32px;
    height: 32px;
    background-color: #1e88e5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container{
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
  }  

  .sidebar {
    width: 100%;
    padding: 12px;
    background: #000000;
    height: 100%;
    overflow: auto;
  }

  .lef {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 100vh;
    gap: 14px;
    padding: 10px 14px;
    margin-bottom: 6px;
    background-color: #000000;
    color: #eaeaea;
    padding: 60px 0 3px 0;
    font-size: 10px;
    font-weight: 100;
    cursor: pointer;
  }

  .icon i {
    font-size: 18px;
    width: 22px;
    text-align: center;
    color: #fff;
  }